In [ ]:
import pandas as pd

# 1. ¿Qué es un DataFrame?

In [ ]:
personas = {
    "nombre": ["Dimas", "Juan", "Ana"],
    "edad": [23, 24, 25],
    "país": ["España", "México", "Chile"]
}

df = pd.DataFrame(personas)
df

# 2. ¿Cómo hacer un DataFrame con listas?

In [ ]:
import pandas as pd
# Método 1: Lista de Listas
columns = ["marca", "precio", "disponibilidad"]
cocheA = ["Mercedes", 10e3, True]
cocheB = ["BMW", 20e3, False]

df = pd.DataFrame([cocheA, cocheB], columns=columns)
df

In [ ]:
# Método 2: Usando ZIP
marcas = [
    "Audi", 
    "Mercedes", 
    "BMW",
    "Mercedes"
]
precio = [
    20e3,
    30e3,
    40e3,
    25e3
]
disponibilidad = [
    True,
    False,
    False,
    True,
]

df = pd.DataFrame(
    list(zip(marcas, precio, disponibilidad)),
    columns=["marca", "precio", "disponibilidad"]
)
print(list(zip(marcas, precio, disponibilidad)))

In [ ]:
# Método 3: Usando un diccionario
marcas = [
    "Audi", 
    "Mercedes", 
    "BMW",
    "Mercedes"
]
precio = [
    20e3,
    30e3,
    40e3,
    25e3
]
disponibilidad = [
    True,
    False,
    False,
    True,
]

diccionario = {
    "marca": marcas,
    "precio": precio,
    "disponibilidad": disponibilidad
}

df = pd.DataFrame(diccionario)
df

# 3. ¿Qué es un DataSet?


Un conjunto de datos o **dataset** corresponde a los contenidos de una única tabla de base de datos o una única matriz de datos de estadística, donde:
- Cada **columna** de la tabla representa una variable en particular.
- Cada **fila** representa a un miembro determinado del conjunto de datos que estamos tratando.

**FUENTE**: https://www.deustoformacion.com/blog/programacion-tic/que-son-datasets-dataframes-big-data

# 4. ¿Cómo leer archivos CSV en Python con pandas?

In [ ]:
import pandas as pd

df = pd.read_csv("./data/avocado.csv", index_col=["Date"])
df.head(3)

# 5. ¿Cómo agregar una lista a un DataFrame Python?

In [ ]:
import pandas as pd

personas = {
    "nombre": ["Dimas", "Juan", "Jose"], 
    "edad": [20, 23, 25], 
    "dni": ["48014003P", "48014003P", "48014003P"]
}

df = pd.DataFrame(personas)
df
# Método 1: Sintaxis básica
df["profesiones"] = ["Ingeniero", "Maestro", "Bombero"]
df
# Método 2: Assign
df = df.assign(sueldo=[20000, 30e3, 40e3])
df
# Método 3: insert
df.insert(3, "email", ["dimas@email", "juan@email", "jose@jose"])
df

# 6. ¿Cómo seleccionar columnas en Python?

In [ ]:
df
# ¿Cómo seleccionar columnas en Python?
# Método 1
df["nombre"]
df[["nombre", "dni", "email"]]
# Método 2: iloc -> integer row index, column index
df.iloc[:, [0, 3]]
# Método 3: loc -> index label, column label
df.loc[:, ["email", "sueldo"]]

# 7. ¿Cómo obtener las filas de un DataFrame en Python?

In [83]:
# ¿Cómo obtener las filas de un DataFrame en Python?
df
# Método 1: Sintaxis basica
condicion = (df["nombre"] == "Dimas")

df[condicion]
# Método 2: isin
condicion = df.email.isin(["dimas@email"]) & df.nombre.isin(["Dimas"])
df[condicion]
# Método 3: iloc
df.iloc[[2], :]
# Método 4: set_index and loc
nombres = df.set_index("nombre")

  nombre  edad        dni      email profesiones   sueldo
2   Jose    25  48014003P  jose@jose     Bombero  40000.0

In [68]:
df

  nombre  edad        dni        email profesiones   sueldo
0  Dimas    20  48014003P  dimas@email   Ingeniero  20000.0
1   Juan    23  48014003P   juan@email     Maestro  30000.0
2   Jose    25  48014003P    jose@jose     Bombero  40000.0